<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top py-3">
    <div class="container-fluid px-4">
      <!-- Logo / Brand -->
      <a class="navbar-brand fw-bold  fs-4" href="/"><i class="fa-regular fa-compass"></i> <span>Wanderlust</span></a>
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Nav items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark fw-semibold px-3" href="/listings">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-semibold px-3" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark fw-semibold px-3" href="#">Projects</a>
          </li>
          <!-- Optional profile-like icon -->
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link px-3" href="#">
              <i class="bi bi-globe2 fs-5 text-dark"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  