<%- layout("/layouts/boilerplate") %>

<body>
 <div class="new-location">
   <form class="listing-card" method="POST" action="/listings">
    <h3>Create a New Listing</h3>
    <input name="listing[title]" placeholder="Enter title" type="text" />
    <textarea name="listing[description]" placeholder="Enter description"></textarea>
    <input name="listing[image]" placeholder="Enter image URL/Link" type="text" />
    <input name="listing[price]" placeholder="Enter price" type="number" />
    <input name="listing[country]" placeholder="Enter country" type="text" />
    <input name="listing[location]" placeholder="Enter location" type="text" />
    <button type="submit">Add Listing</button>
  </form>
 </div>
</body>
