.navbar {
    border-bottom: 1px solid #e7e7e7;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #f7f7f7;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
.fa-compass{
    color: red;
    font-size: 2rem;
}
.navbar-brand span{
    font-size: 2rem ;
    letter-spacing: 1px;
}

/* cards styleingh  */
.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
  