<%- layout("/layouts/boilerplate") %>

    <body>
        <div class="new-location">
            <form class="login-form needs-validation" method="POST" action="/login" novalidate>
                <h2>Login To WanderLust</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input name="username" placeholder="Enter your username" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">username is required.</div>
                    <div class="valid-feedback">username looks good !</div>

                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input name="password" placeholder="Enter your password" type="password" class="form-control"
                        required />
                    <div class="invalid-feedback">password is required.</div>
                    <div class="valid-feedback">password looks good !</div>
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>

            </form>
        </div>
    </body>